page-customer-services {
     .hidden{
        display: none !important;
    }
    .slide-1{     
        background: url("../assets/images/slide1.jpg") !important;
        background-size: cover !important;
        align-content: center !important;       
    
    }

}
